<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="nz.net.catalyst.KiritakiKoha"
      android:versionCode="8"
      android:versionName="1.7">
    <application android:icon="@drawable/icon" android:label="@string/label" android:debuggable="false">
	    <service android:name=".authenticator.AccountAuthenticatorService"
	    		android:exported="true">
	    	<intent-filter>
	    		<action android:name="android.accounts.AccountAuthenticator" />
	    	</intent-filter>
	    	<meta-data android:name="android.accounts.AccountAuthenticator"
	    			android:resource="@xml/authenticator" />
	    </service>
	    
	    <activity android:name=".authenticator.AuthenticatorActivity"
	    	android:label="@string/login"
	    	android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true" />
    
        <activity android:name=".InfoActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>

  	    <activity android:name=".search.SearchFormActivity" 
  	    			android:label="@string/searchform" >
            <intent-filter>
                <action android:name="nz.net.catalyst.KiritakiKoha.search.SearchFormActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
  	    <activity android:name=".search.SearchResultsActivity" 
  	    			android:label="@string/searchresults" >
            <intent-filter>
                <action android:name="nz.net.catalyst.KiritakiKoha.search.SearchResultsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

  	    <activity android:name=".hold.PlaceHoldFormActivity" 
  	    			android:label="@string/placeholdform" >
            <intent-filter>
                <action android:name="nz.net.catalyst.KiritakiKoha.hold.PlaceHoldFormActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity android:name=".EditPreferences"
			android:label="@string/menu_preferences" />

    </application>
    <uses-sdk android:minSdkVersion="7" />
    <!-- permissions -->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.INTERNET" />

</manifest> 